# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=smartbus
DB_USER=postgres
DB_PASSWORD=jZLWtXpZLROfnLJu

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# NFC Simulation
NFC_SIMULATION_ENABLED=true
